<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
      <mat-card-title>Register</mat-card-title>
      <form>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput  placeholder="Just a placeholder">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput  placeholder="Just a placeholder">
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>

        
        
        <button mat-button  >Register</button>
        <button mat-button (click)="navigateBack()">Already Have Account</button>
      </mat-card-actions>
      
    </form>
    </mat-card>
</section>