
<mat-toolbar color="primary">

  <mat-toolbar-row>

    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>


  </mat-toolbar-row>
  <ng-content></ng-content>




</mat-toolbar>

