<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <!-- <mat-toolbar>Menu</mat-toolbar> -->
    <mat-nav-list>
      <a mat-list-item *ngFor="let menuItem of menuItems" (click)="drawer.toggle()" [routerLink]="menuItem.class === '' ? [menuItem.path] : null"><span class="menu-title">{{menuItem.title}}</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>deliveroo</span>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content> -->
</mat-sidenav-container>
