<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
      <mat-card-title>Login</mat-card-title>
      <form [formGroup]="aForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input type="email" matInput placeholder="Just a placeholder" formControlName="email">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="text" matInput  placeholder="Just a placeholder" formControlName="password">
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>

        <button mat-button type="submit">Login</button>
        
        <button mat-button type="button" (click)="navigateTo('register')" >Register</button>
      </mat-card-actions>
      
    </form>
    </mat-card>
</section>