
<!-- <mat-tab-group>
  <mat-tab label="test">

  </mat-tab>
  <mat-tab label="test">

  </mat-tab>
</mat-tab-group> -->
<!-- <app-sidebar>
  <app-navbar></app-navbar>
</app-sidebar> -->
<!-- <nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
  </a>
</nav> -->


<app-navbar>
  <app-sidebar></app-sidebar>
</app-navbar>
<!-- <nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let link of navLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{link.title}}
  </a>
</nav> -->
<router-outlet ng-view flex layout="column" class="full-page-routers"></router-outlet>

<app-footer class="full-page-footer"></app-footer>



<!-- <router-outlet></router-outlet> -->
<!-- <mat-tab-group headerPosition="below">
  <mat-tab label="One"></mat-tab>
  <mat-tab label="Two"></mat-tab>
</mat-tab-group> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-sidebar>
  <router-outlet></router-outlet>
</app-sidebar> -->







