<footer>
  <nav mat-tab-nav-bar class="mat-tab-group-inverted-header nav-footer">
    <a mat-tab-link
       *ngFor="let link of menuItems"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       >
       <!-- [active]="rla.isActive" -->
      {{link.title}}
    </a>
  </nav>
</footer>
